<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cell Phone Zone</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
    <!-- Google Fonts -->
    <!-- Bootstrap core CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Material Design Bootstrap -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css"
      rel="stylesheet"
    />
    <link href="stylesheets/style.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
    html,
    body,
    header,
    #intro {
      height: 100%;
      height: 100vh;
    }

    .row {
      margin: 1%;

      padding: 2%;
    }
    .vertical-center {
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  </style>
  <body>
    <!--Landing page-->
    <!--Main Navigation-->
    <!--Navbar-->
    <%- include('./common/nav'); -%>
    <!--/.Navbar-->
    <!--Mask-->

    <!--/.Mask-->

    <!--Main Navigation-->

    <!--Main layout-->
    <main>
      <!-- Section: Features v.1 -->
      <section class="text-center my-5">
        <br />
        <h2 style="font-family: 'Nunito Sans', sans-serif; font-size: 1.5rem;">
          Buy Phone
        </h2>

        <div class="row">
          <div class="col-md-6">
            <img
              src="images/bg3.svg"
              style="width: 100%; height: 100%;"
              alt="image"
            />
          </div>
          <div class="col-md-6">
            <!-- Vertical Steppers -->
            <div class="row mt-1">
              <div class="col-md-12">
                <!-- Stepers Wrapper -->
                <ul class="stepper stepper-vertical">
                  <!-- First Step -->
                   <li class="completed">
                    <a href="/buy/specific">
                      <span class="circle" id="nav" >1</span>
                      <span class="label"><button  class="btn" id="btn">Required Specific Phone</button>  </span>
                    </a>
                  </li>

                  <!-- Second Step -->
                  <li class="active">
                    <!--Section Title -->
                    <a  data-toggle="modal" data-target="#basicExampleModal">
                      <span class="circle" id="nav" >2</span>
                      <span class="label"><button class="btn" id="prebtn">Check Available Phone</button></span>
                    </a>

                    <!-- Section Description -->
                    </div>
                  </li>

                  <!-- Third Step -->
                </ul>
                <!-- /.Stepers Wrapper -->
              </div>
            </div>

            <!-- /.Vertical Steppers -->
          </div>
        </div>
      </section>
      <!-- Section: Features v.1 -->
    </main>
    <!--Main layout-->

    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Check Available Phone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  class="text-center p-5"  style="text-align: left;" action="#!">
        <input type="email"  class="form-control" name="email" placeholder="Enter Email" required />
     
     <br />
        <input
        type="text"
        class="form-control mb-4"
        
        placeholder="Phone Number"
        name="phone"
        pattern="[2-9]{2}\d{8}"
        required
      />
        <label id="range">0</label>
      <input  class="multi-range" id="budget" step="500" min="5000" max="150000" style="width: 100%;" type="range" />
        
        <br />
        <button  class="btn" id="prebtn" type="submit">Submit</button>
         </form> 
         
      </div>
     
    </div>
  </div>
</div>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script type="text/javascript" src="/javascripts/script.js"> </script>
    <!-- Bootstrap tooltips -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <!-- Bootstrap core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
    ></script>
    <!-- MDB core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"
    ></script>
    <script>
     
      </script>
    <!-- Footer -->
    <%- include('./common/footer') -%>
    <!-- Footer -->
<script>
  const range =document.querySelector("#range");
  
  const budget =document.querySelector("#budget");
  budget.value=20000;
  range.innerHTML=`Phone Price Less Than <i class="fas fa-rupee-sign"></i>${budget.value}`;
  const changebudget=(e)=>{
    range.innerHTML=`Phone Price Less Than <i class="fas fa-rupee-sign"></i>${budget.value}`;
  }
  addEvent("input",budget,changebudget)

</script>    
  </body>
</html>
