
     <footer class="page-footer font-small" id="nav" style="position: fixed; left: 0; bottom: 0;width: 100%; ">
        <!-- Footer Links -->
       
        <!-- Footer Links -->
  
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
          Buy And Sell Second Hand Phones:
          <a href="https://cellphone.co.com/"> cellphone.co</a>
        </div>
        <!-- Copyright -->
      </footer>